/*General CSS*/

body, html {
    font-size: small;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background: #fff;
    color: #222;
}

body, td, a, p, .h {
    font-family: arial,sans-serif;
    font-size: 1.06em;
}

div.main {
    height: 100%;
}

/*Header CSS*/

div.header {
    width: 100%;
    height: 2.8em;
    padding: 0 0 1em 0;
    border: 0;
    margin: 0;
}

div.header ul {
    float: right;
    list-style-type: none;
}

div.header ul li {
    display: inline-block;
    padding: 0 .5em 0 .5em;
    vertical-align: middle;
}

div.header ul li img {
    width: 30px;
    height: auto;
}

/*Container CSS*/

div.container {
    width: 100px;
    height: 50%;
    position: absolute;
    top: 12em;
    bottom: 0;
    left: -43em;
    right: 0;
    margin: auto;
}

div.container .search {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: arial,sans-serif;
  font-size: 18px;
}

input[type="submit"] {
    height: 36px;
    line-height: 27px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

input.signin[type="submit"] {
    color: #f2f2f2;
    background: #4285f4;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    border-radius: .3em;
}

input.search_bar {
    padding: 10px;
    margin: 10px;
    height: 28px;
    width: 610px;
    border: 1px solid #eaeaea;
    outline:none;
    border-radius: 0.1em;
}

input.search_bar:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
input.search_bar:focus{
    border-color: #a0a0a0;
}

/*Footer CSS*/

div.footer {
    position: fixed;
    width: 98%;
    height: 3em;
    background-color: gainsboro;
    bottom: 0;
    padding: .5em 5em .5em .1em;
}

div.footer ul {
    list-style-type: none;
}

div.footer ul li {
    display: inline;
    padding: 0 1em 0 1em;
}

ul.left li {
    float: left;
}

ul.right li {
    float: right;
}